
@font-face {
    font-family: RingBearer;
    src: url('./RingbearerMedium-51mgZ.ttf');
}

:root{
    --color-background: #f8e8b5;
    --color-black: #010101;
    --color-dark-blue: #22353f;
    --color-dark-tint: #01010162;
    --color-highlight: #eb9866;
    --color-footer: #386677;
    --color-white: #fdfaf1;
}


body{
    background-color: var(--color-background);
    color: var(--color-black);
}

.bold, .normal, h4{
    max-inline-size: 66ch;
    line-height: 1.5;
    margin: 50px auto;
    font-family: 'RingBearer';
    font-size: 2rem;
}

.large{
    font-size: 5rem;
    text-align: center;
}

.bold{
    font-weight: 700;
}

.normal{
    font-weight: 500;
}